

<section id="top-2">
    <div class="container d-flex tp">
        <span>Home /</span> <h6>Blog</h6>
    </div>
</section>

<section>
    <div class="container tp-2">

        <h1>BLOGS</h1>
    </div>
</section>

<div id="Blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="blog-left">
                    <div class="top">
                        <div class="sa row d-flex">
                            <div class="col-lg-2 d-flex bor row">
                                <div class="time">
                                    <h4>July</h4>
                                    <h1>08</h1>
                                </div>
                            </div>
                            <div class="col-lg-10 title">
                                <a href=""> <h3>Sample Blog Post With Left Slidebar</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="img">
                        <a asp-controller="blog" asp-action="detail"> <img src="~/assest/img/blog/img_blog1.jpg" alt=""></a>
                    </div>
                    <div class="description">
                        <h6>
                            JULY
                            Sample Blog Post With Left Slidebar
                            Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint.
                            Braid skirt round sunglasses seam leather vintage Levi plaited. Flats holographic Acne grunge collarless denim chunky s
                            ole cuff tucked t-shirt strong eyebrows. Clutch center part dress dungaree slip dress. Skinny jeans knitwear minimal tortoise-s
                            hell sunglasses Céline sandal Cara D. lilac. Black floral 90s oxford chambray bomber powder blue cotton boots print. Cable knit knot
                            ponytail ribbed sneaker sports luxe pastel Paris. Washed out skort white shirt Hermès vintage Givenchy razor pleats.
                        </h6>
                        <h6>
                            Tee loafer knot ponytail sandal shoe oversized sweatshirt Maison Martin Margiela
                            chunky sole spearmint. Jil Sander Vasari denim vintage So-Cal envelope clutch gold collar Prada Sa
                            ffiano Acne. Navy blue flats metallic bandeau skort denim shorts white shirt white. Cotton knitwear slip dress se
                            am Givenchy bandeau maxi
                        </h6>
                        <h6>
                            Lanvin flats seam cotton minimal Saint Laurent midi Céline la marinière. Powder blue playsuit oversized
                            sweatshirt bomber chunky sole street style chignon vintage. Dress Jil Sander Vasari chambray boots luxe. Statement button u
                            p navy blue slip dress skinny jeans indigo white shirt.
                        </h6>
                        <h6>
                            Maison Martin Margiela cami texture la marinière ecru envelope clutch So-Cal relaxed silhouette.
                            Cashmere chunky sole center part round sunglasses holographic skirt sneaker Acne bandeau. Leggings Lanvin
                            plaited ribbed sports luxe Paris white metallic cami. Givenchy clutch black Furla navy blue grunge dress luxe.
                            Oversized sweatshirt strong eyebrows knot ponytail indigo playsuit A.P.C. Floral gold collar Maison Martin Margiela
                            vintage relaxed la marinière statement button up tee. Razor pleats chignon boots So-Cal cable knit seam denim chambray
                            flats Prada Saffiano. Leather leather tote neutral denim shorts collarless Cara D. washed out. 90s vintage Levi texture
                            envelope clutch crop ecru skinny jeans. Rings loafer Céline pastel sandal dove grey cotton Hermès.
                        </h6>

                        <div class="bottom justify-content-between d-flex mt-5">

                            <div class="left">
                                <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                            </div>
                            <div class="right">
                                <button type="button" class="btn btn-light">POST COMMENT</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-left">
                    <div class="top">
                        <div class="sa row d-flex">
                            <div class="col-lg-2 d-flex bor row">
                                <div class="time">
                                    <h4>July</h4>
                                    <h1>08</h1>
                                </div>
                            </div>
                            <div class="col-lg-10 title">
                                <a href=""> <h3>Sample Blog Post With Left Slidebar</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="img">
                        <a href=""> <img src="~/assest/img/blog/blog2.jpg" alt=""></a>
                    </div>
                    <div class="description">
                        <h6>
                            JULY
                            Sample Blog Post With Left Slidebar
                            Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint.
                            Braid skirt round sunglasses seam leather vintage Levi plaited. Flats holographic Acne grunge collarless denim chunky s
                            ole cuff tucked t-shirt strong eyebrows. Clutch center part dress dungaree slip dress. Skinny jeans knitwear minimal tortoise-s
                            hell sunglasses Céline sandal Cara D. lilac. Black floral 90s oxford chambray bomber powder blue cotton boots print. Cable knit knot
                            ponytail ribbed sneaker sports luxe pastel Paris. Washed out skort white shirt Hermès vintage Givenchy razor pleats.
                        </h6>
                        <h6>
                            Tee loafer knot ponytail sandal shoe oversized sweatshirt Maison Martin Margiela
                            chunky sole spearmint. Jil Sander Vasari denim vintage So-Cal envelope clutch gold collar Prada Sa
                            ffiano Acne. Navy blue flats metallic bandeau skort denim shorts white shirt white. Cotton knitwear slip dress se
                            am Givenchy bandeau maxi
                        </h6>
                        <h6>
                            Lanvin flats seam cotton minimal Saint Laurent midi Céline la marinière. Powder blue playsuit oversized
                            sweatshirt bomber chunky sole street style chignon vintage. Dress Jil Sander Vasari chambray boots luxe. Statement button u
                            p navy blue slip dress skinny jeans indigo white shirt.
                        </h6>
                        <h6>
                            Maison Martin Margiela cami texture la marinière ecru envelope clutch So-Cal relaxed silhouette.
                            Cashmere chunky sole center part round sunglasses holographic skirt sneaker Acne bandeau. Leggings Lanvin
                            plaited ribbed sports luxe Paris white metallic cami. Givenchy clutch black Furla navy blue grunge dress luxe.
                            Oversized sweatshirt strong eyebrows knot ponytail indigo playsuit A.P.C. Floral gold collar Maison Martin Margiela
                            vintage relaxed la marinière statement button up tee. Razor pleats chignon boots So-Cal cable knit seam denim chambray
                            flats Prada Saffiano. Leather leather tote neutral denim shorts collarless Cara D. washed out. 90s vintage Levi texture
                            envelope clutch crop ecru skinny jeans. Rings loafer Céline pastel sandal dove grey cotton Hermès.
                        </h6>

                        <div class="bottom justify-content-between d-flex mt-5">

                            <div class="left">
                                <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                            </div>
                            <div class="right">
                                <button type="button" class="btn btn-light">POST COMMENT</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-left">
                    <div class="top">
                        <div class="sa row d-flex">
                            <div class="col-lg-2 d-flex bor row">
                                <div class="time">
                                    <h4>July</h4>
                                    <h1>08</h1>
                                </div>
                            </div>
                            <div class="col-lg-10 title">
                                <a href=""> <h3>Sample Blog Post With Left Slidebar</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="img">
                        <a href=""> <img src="~/assest/img/blog/blog3.jpg" alt=""></a>
                    </div>
                    <div class="description">
                        <h6>
                            JULY
                            Sample Blog Post With Left Slidebar
                            Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint.
                            Braid skirt round sunglasses seam leather vintage Levi plaited. Flats holographic Acne grunge collarless denim chunky s
                            ole cuff tucked t-shirt strong eyebrows. Clutch center part dress dungaree slip dress. Skinny jeans knitwear minimal tortoise-s
                            hell sunglasses Céline sandal Cara D. lilac. Black floral 90s oxford chambray bomber powder blue cotton boots print. Cable knit knot
                            ponytail ribbed sneaker sports luxe pastel Paris. Washed out skort white shirt Hermès vintage Givenchy razor pleats.
                        </h6>
                        <h6>
                            Tee loafer knot ponytail sandal shoe oversized sweatshirt Maison Martin Margiela
                            chunky sole spearmint. Jil Sander Vasari denim vintage So-Cal envelope clutch gold collar Prada Sa
                            ffiano Acne. Navy blue flats metallic bandeau skort denim shorts white shirt white. Cotton knitwear slip dress se
                            am Givenchy bandeau maxi
                        </h6>
                        <h6>
                            Lanvin flats seam cotton minimal Saint Laurent midi Céline la marinière. Powder blue playsuit oversized
                            sweatshirt bomber chunky sole street style chignon vintage. Dress Jil Sander Vasari chambray boots luxe. Statement button u
                            p navy blue slip dress skinny jeans indigo white shirt.
                        </h6>
                        <h6>
                            Maison Martin Margiela cami texture la marinière ecru envelope clutch So-Cal relaxed silhouette.
                            Cashmere chunky sole center part round sunglasses holographic skirt sneaker Acne bandeau. Leggings Lanvin
                            plaited ribbed sports luxe Paris white metallic cami. Givenchy clutch black Furla navy blue grunge dress luxe.
                            Oversized sweatshirt strong eyebrows knot ponytail indigo playsuit A.P.C. Floral gold collar Maison Martin Margiela
                            vintage relaxed la marinière statement button up tee. Razor pleats chignon boots So-Cal cable knit seam denim chambray
                            flats Prada Saffiano. Leather leather tote neutral denim shorts collarless Cara D. washed out. 90s vintage Levi texture
                            envelope clutch crop ecru skinny jeans. Rings loafer Céline pastel sandal dove grey cotton Hermès.
                        </h6>

                        <div class="bottom justify-content-between d-flex mt-5">

                            <div class="left">
                                <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                            </div>
                            <div class="right">
                                <button type="button" class="btn btn-light">POST COMMENT</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="last">

                    <a href="#" class="previous">&laquo; Previous</a>
                    <a href="#" class="next">Next &raquo;</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="top">
                    <h4><i class="fa-solid fa-pen-to-square"></i>RECENT ARTICLES</h4>
                </div>
                <div class="right-blog">

                    <div class="mideum">
                        <div class="top">
                            <h3> <a href=""> Sample Blog Post With Left Slidebar</a></h3>
                        </div>
                        <div class="mid">
                            <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                        </div>
                        <div class="bot">
                            <p>Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint. Braid skirt round sunglasses seam...</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="right-blog">

                    <div class="mideum">
                        <div class="top">
                            <h3> <a href=""> Sample Blog Post With Left Slidebar</a></h3>
                        </div>
                        <div class="mid">
                            <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                        </div>
                        <div class="bot">
                            <p>Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint. Braid skirt round sunglasses seam...</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="right-blog">

                    <div class="mideum">
                        <div class="top">
                            <h3> <a href=""> Sample Blog Post With Left Slidebar</a></h3>
                        </div>
                        <div class="mid">
                            <h6>JIN ALKAID / <a href="">58 COMMENT(S)</a> </h6>
                        </div>
                        <div class="bot">
                            <p>Shoe street style leather tote oversized sweatshirt A.P.C. Prada Saffiano crop slipper denim shorts spearmint. Braid skirt round sunglasses seam...</p>
                        </div>
                    </div>
                    <hr>
                </div>



            </div>
        </div>
    </div>
</div>
