
<section id="top-2">
    <div class="container d-flex tp">
        <span>Home /</span> <h6>Card</h6>
    </div>
</section>

<section>
    <div class="container tp-2">

        <h1>SHOPPING CART</h1>
    </div>
</section>

<div id="buy">
    <div class="container">
        <div class="top d-flex">
            <div class="col-lg-4 ite">
                <h5>ITEMS</h5>

            </div>
            <div class="col-lg-2">
                <h5>PRICE</h5>

            </div>
            <div class="col-lg-2 ph">
                <h5>QYT</h5>

            </div>
            <div class="col-lg-2 ph">
                <h5>SUBTOTAL</h5>
            </div>
        </div>
        <div class="buy-ptuduct d-flex">
            <div class="col-lg-4 d-flex">
                <div class="img col-lg-6">

                    <a href="product-detail.html"> <img src="~/assest/img/Product/11_68ab6d0f-109c-429b-a903-4cbf60257806_grande.png" alt=""></a>
                </div>
                <div class="title col">
                    <h5> <a href=""> Curabitur cursus dignis</a></h5>
                </div>

            </div>
            <div class="col-lg-2">
                <h5>$200.00</h5>

            </div>
            <div class="col-lg-2 ph">
                <div class="number">
                    <span class="minus">-</span>
                    <input type="text" value="1" />
                    <span class="plus">+</span>
                </div>

            </div>
            <div class="col-lg-2 ph">
                <p>200$</p>
            </div>
            <div class="col-lg-2 ph">
                <h6><i class="fa-solid fa-trash"></i>REMOVE</h6>
            </div>
        </div>
        <div class="total text-center">
            <h3>TOTAL PRICE: 700$</h3>
            <button type="button" class="btn btn-secondary">BUY</button>
        </div>
    </div>
</div>

