

@{ ViewData["Title"] = "Index";
    int counter = 1; }

@model List<Color>
<div class="d-flex row">
    <div class="row justify-content-between mt-5">
        <div class="col-lg-3">
            <h1 class="h3 text-gray-800">Tags Page</h1>
        </div>
        <div class="col-lg-5">
            <a asp-area="manage" asp-controller="color" asp-action="create" class="btn btn-primary">Create</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Setting</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Color color in Model)
                    {
                    <tr>
                        <td style="color:wheat">@counter</td>
                        <td width="75" style="background-color:@color.Name;">
                            
                        </td>
                        <td style="color:wheat">@color.Name</td>
                        <td>
                            <a class="btn btn-warning" asp-area="manage" asp-controller="color" asp-action="update" asp-route-id="@color.Id">Update</a>
                            <a class="btn btn-danger" asp-area="manage" asp-controller="color" asp-action="delete" asp-route-id="@color.Id">Delete</a>
                        </td>
                    </tr>counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>