@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<section id="Contact">
    <div class="container d-flex ">
        <div class="leftside col-lg-12 col-4 w-25 reg text-center">
            <h3>SING IN</h3>
            <form method="post">

                <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                <div class="INPUTS">
                    <h6>Email <span>*</span></h6>
                    <input asp-for="Email">  
                    <span asp-validation-for="Email" class="text text-danger"></span>

                </div>
                <div class="INPUTS">
                    <h6>Password </h6>
                    <input asp-for="Password">
                    <span asp-validation-for="Password" class="text text-danger"></span>

                </div>

                <button type="submit" class="btn">LOGIN</button>
            </form>
        </div>
    </div>
    
</section>
