@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<section id="Contact">
    <div class="container d-flex ">
        <div class="leftside col-lg-12 col-4 w-25 reg mt-3 text-center">
            <h3>Creat An Account</h3>
            <form method="post">

                <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                <div class="INPUTS">
                    <h6>Enter Name <span>*</span></h6>
                    <input asp-for="Name">
                </div>
                <div class="INPUTS">
                    <h6>Enter UsarName <span>*</span></h6>
                    <input asp-for="UserName">
                    <span asp-validation-for="UserName" class="text text-danger"></span>
                </div>
                <div class="INPUTS">
                    <h6>Enter Email <span>*</span></h6>
                    <input asp-for="Email">
                    <span asp-validation-for="Email" class="text text-danger"></span>
                </div>
                <div class="INPUTS">
                    <h6>Password </h6>
                    <input asp-for="Password">
                    <span asp-validation-for="Password" class="text text-danger"></span>
                </div>
                <div class="INPUTS">
                    <h6>Confirm Password </h6>
                    <input asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text text-danger"></span>
                </div>
                <button type="submit"  class="btn">Creat An Account</button>
            </form>
        </div>
    </div>

</section>