@inject ILayoutServices layoutservices

@{
    Dictionary<string, string> settings = await layoutservices.GetSettingAsync();
        }

<section id="top-2">
    <div class="container d-flex tp">
        <span>Home /</span> <h6>Contact</h6>
    </div>
</section>
<section>
    <div class="container tp-2">

        <h1>CONTACT</h1>
    </div>
</section>
<section id="Contact">
    <div class="container d-flex">
        <div class="leftside col-lg-6 col-4">
            <h3>DROP US A LINE</h3>
            <div class="INPUTS">
                <h6>Your Name <span>*</span></h6>
                <input type="name">
            </div>
            <div class="INPUTS">
                <h6>Your Email <span>*</span></h6>
                <input type="email" id="email" name="email">
            </div>
            <div class="INPUTS">
                <h6>Your Message </h6>
                <textarea name="message">
                    </textarea>
            </div>
            <button type="button" class="btn">SUMBUIT CONTACT</button>
        </div>
        <div class="rightside col-lg-6 col-8">
            <div class="TOP">

                <h6><i class="fa-solid fa-house"></i> CONTACT INFORMATION</h6>
                <h5>OFFICE ADDRESS</h5>
                <P>
                    @settings.First(s => s.Key == "Location").Value
                    +84 0123456xx
                </P>
                <P><i class="fa-solid fa-envelope"></i>@settings.First(s => s.Key == "Mail").Value</P>
            </div>
            <div class="ico">
                <h2>FOLLOW US ON</h2>
                <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-pinterest"></i>
            </div>
        </div>


    </div>

</section>

<section id="Map">
    <div class="divv w-100 col-1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48632.527184898754!2d49.84860777854917!3d40.374879314687604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d1f85d9b639%3A0xeda9cb854d1b6add!2sBaku%20Marriott%20Hotel%20Boulevard!5e0!3m2!1sen!2s!4v1673737181381!5m2!1sen!2s" width="1903" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>