

@{ ViewData["Title"] = "Index";
    int counter = 1; }

@model List<Brand>
<div class="d-flex row">
    <div class="row justify-content-between mt-5">
        <div class="col-lg-3">
            <h1 class="h3 text-gray-800"style="color:wheat;">Brand Page</h1>
        </div>
        <div class="col-lg-5">
            <a asp-area="manage" asp-controller="brand" asp-action="create" class="btn btn-primary">Creat</a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Setting</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Brand brand in Model)
                    {
        <tr>
            <td style="color:wheat" class="w-25">@counter</td>
            <td width="75" style=" background-color: white;">
                <img style="width: 72px; height: 68px; margin-bottom:20px; border-radius:0px !important;" src="~/assest/img/brandsimg/@brand.Image" alt="Alternate Text" />
            </td>
            <td style="color:wheat">@brand.Name</td>
            <td class="w-25">
                <a class="btn btn-warning" asp-area="manage" asp-controller="brand" asp-action="update" asp-route-id="@brand.Id">Update</a>
                <a class="btn btn-danger" asp-area="manage" asp-controller="brand" asp-action="delete" asp-route-id="@brand.Id">Delete</a>
            </td>
        </tr>
counter++;
    }
                </tbody>
            </table>
        </div>
    </div>
</div>