

@{ ViewData["Title"] = "Index";
    int counter = 1; }

@model List<Setting>
<div class="d-flex row">
    <div class="row justify-content-between mt-5">
        <div class="col-lg-3">
            <h1 class="h3 text-gray-800">Setting Page</h1>
        </div>
        <div class="col-lg-5">
            <a asp-area="manage" asp-controller="setting" asp-action="create" class="btn btn-primary">Create</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Setting</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Setting setting in Model)
                    {
                    <tr>
                        <td style="color:wheat">@counter</td>

                        <td style="color:wheat">@setting.Key</td>
                        <td style="color:wheat">@setting.Value</td>
                        <td>
                            <a class="btn btn-warning" asp-area="manage" asp-controller="setting" asp-action="update" asp-route-id="@setting.Id">Update</a>
                        </td>
                    </tr>
                counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>