



<section id="top-2">
    <div class="container d-flex tp">
        <span>Home /</span> <h6>Products</h6>
    </div>
</section>

<section>
    <div class="container tp-2">

        <h1>PRODUCTS</h1>
    </div>
</section>

<section id="Filter">
    <div class="container">
        <div class="filter d-flex justify-content-between">
            <div class="col-lg-8">
                <h6>Filter By</h6>
                <div class="header-filter wrapper medium-down--hide">

                    <select class="filter-item-selector FilterByCollections">
                        <option value="" disabled selected>Product type</option>
                        <option value="all">ALL</option>
                        <option value="all">Hoodies Wear</option>
                        <option value="all">Sweaters Wear</option>
                    </select>

                    <select class="filter-item-selector FilterBySizes">
                        <option value="" disabled selected>Color</option>
                        <option value="all">All</option>
                        <option value="all">Black</option>
                        <option value="all">Green</option>
                        <option value="all">Purple</option>
                        <option value="all">Red</option>
                        <option value="all">White</option>
                    </select>

                    <select class="filter-item-selector FilterByVendors">
                        <option value="" disabled selected>Size</option>
                        <option value="all">All</option>
                        <option value="all">Small</option>
                        <option value="all">Mideum</option>
                        <option value="all">Large</option>
                    </select>

                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="header-filter wrapper medium-down--hide right ">

                    <h6 class="text-start">Shorty By</h6>
                    <select class="filter-item-selector FilterByVendors">
                        <option value="" disabled selected>Alphabetically,  A-Z</option>
                        <option value="all">Featured</option>
                        <option value="all">Best Selling</option>
                        <option value="all">Alphabetically,  Z-A</option>
                        <option value="all">Price Low to High</option>
                        <option value="all">Price Hihgh to Low</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="Shop">
    <div class="container">
        <div class="row">
            <div class="Products d-flex  row  col-lg-12 justify-content-between">
                <div class="product col-lg-3">
                    <a asp-controller="shop" asp-action="detail"><img src="~/assest/img/Product/1_grande.png" alt=""></a>
                    <div class="icons text-center">
                        <hr>
                        <div class="content">
                            <i class="fa-solid fa-bars"></i>
                            <div id="one" class="button"> <i class="fa-solid fa-eye"></i></div>
                            <a href=""><i class="fa-solid fa-basket-shopping"></i></a>

                        </div>
                    </div>
                    <hr>
                    <div class="sale">
                        <h3>Sale</h3>
                    </div>
                    <div class="bottom d-flex justify-content-around">

                        <div class="title">
                            <h5>Curabitur cursus dignis</h5>
                            <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                        </div>
                        <div class="price text-end">
                            <h4>259$</h4>
                            <h6>300$</h6>
                        </div>
                    </div>
                </div>



                <div class="product col-lg-2">
                    <a href="product-detail.html"><img src="~/assest/img/Product/10_16854be2-a731-4970-984e-7f6e483d2405_grande.png" alt=""></a>
                    <div class="icons text-center">
                        <hr>
                        <div class="content">
                            <i class="fa-solid fa-bars"></i>
                            <div id="one" class="button"> <i class="fa-solid fa-eye"></i></div>
                            <a href=""><i class="fa-solid fa-basket-shopping"></i></a>

                        </div>
                    </div>
                    <hr>
                    <div class="sale">
                        <h3>Sale</h3>
                    </div>
                    <div class="bottom d-flex justify-content-between">

                        <div class="title">
                            <h5>Curabitur cursus dignis</h5>
                            <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                        </div>
                        <div class="price text-end">
                            <h4>259$</h4>
                            <h6>300$</h6>
                        </div>
                    </div>
                </div>

                <div class="product col-lg-2">
                    <a href="product-detail.html"><img src="~/assest/img/Product/2_119a31f2-2054-4483-93a3-841310e6bdfb_grande.jpg" alt=""></a>
                    <div class="icons text-center">
                        <hr>
                        <div class="content">
                            <i class="fa-solid fa-bars"></i>
                            <div id="one" class="button"> <i class="fa-solid fa-eye"></i></div>
                            <a href=""><i class="fa-solid fa-basket-shopping"></i></a>

                        </div>
                    </div>
                    <hr>

                    <div class="bottom d-flex justify-content-between">

                        <div class="title">
                            <h5>Curabitur cursus dignis</h5>
                            <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                        </div>
                        <div class="price text-end">
                            <h4>259$</h4>
                            <h6>300$</h6>
                        </div>
                    </div>
                </div>

                <div class="product col-lg-2">
                    <a href="product-detail.html"><img src="~/assest/img/Product/4_0fe2529b-f7ae-4ed5-a8ff-4fae623757f9_grande.png" alt=""></a>
                    <div class="icons text-center">
                        <hr>
                        <div class="content">
                            <i class="fa-solid fa-bars"></i>
                            <div id="one" class="button"> <i class="fa-solid fa-eye"></i></div>
                            <a href=""><i class="fa-solid fa-basket-shopping"></i></a>

                        </div>
                    </div>
                    <hr>

                    <div class="bottom d-flex justify-content-between">

                        <div class="title">
                            <h5>Curabitur cursus dignis</h5>
                            <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                        </div>
                        <div class="price text-end">
                            <h4>259$</h4>
                            <h6>300$</h6>
                        </div>
                    </div>
                </div>

                <div class="product col-lg-2">
                    <a href="product-detail.html"><img src="~/assest/img/Product/4_0fe2529b-f7ae-4ed5-a8ff-4fae623757f9_grande.png" alt=""></a>
                    <div class="icons text-center">
                        <hr>
                        <div class="content">
                            <i class="fa-solid fa-bars"></i>
                            <div id="one" class="button"> <i class="fa-solid fa-eye"></i></div>
                            <a href=""><i class="fa-solid fa-basket-shopping"></i></a>

                        </div>
                    </div>
                    <hr>

                    <div class="bottom d-flex justify-content-between">

                        <div class="title">
                            <h5>Curabitur cursus dignis</h5>
                            <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                        </div>
                        <div class="price text-end">
                            <h4>259$</h4>
                            <h6>300$</h6>
                        </div>
                    </div>
                </div>

                <div class="product col-lg-2">
                    <a href="product-detail.html"><img src="~/assest/img/Product/11_68ab6d0f-109c-429b-a903-4cbf60257806_grande.png" alt=""></a>
                    <div class="icons text-center">
                        <hr>
                        <div class="content">
                            <i class="fa-solid fa-bars"></i>
                            <div id="one" class="button"> <i class="fa-solid fa-eye"></i></div>
                            <a href=""><i class="fa-solid fa-basket-shopping"></i></a>

                        </div>
                    </div>
                    <hr>

                    <div class="bottom d-flex justify-content-between">

                        <div class="title">
                            <h5>Curabitur cursus dignis</h5>
                            <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                        </div>
                        <div class="price text-end">
                            <h4>259$</h4>
                            <h6>300$</h6>
                        </div>
                    </div>
                </div>

                <div class="product col-lg-2">
                    <a href="product-detail.html"><img src="~/assest/img/Product/10_16854be2-a731-4970-984e-7f6e483d2405_grande.png" alt=""></a>
                    <div class="icons text-center">
                        <hr>
                        <div class="content">
                            <i class="fa-solid fa-bars"></i>
                            <div id="one" class="button"> <i class="fa-solid fa-eye"></i></div>
                            <a href=""><i class="fa-solid fa-basket-shopping"></i></a>

                        </div>
                    </div>
                    <hr>
                    <div class="sale">
                        <h3>Sale</h3>
                    </div>
                    <div class="bottom d-flex justify-content-between">

                        <div class="title">
                            <h5>Curabitur cursus dignis</h5>
                            <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                        </div>
                        <div class="price text-end">
                            <h4>259$</h4>
                            <h6>300$</h6>
                        </div>
                    </div>
                </div>

                <div class="product col-lg-2">
                    <a href=""><img src="~/assest/img/Product/10_16854be2-a731-4970-984e-7f6e483d2405_grande.png" alt=""></a>
                    <div class="icons text-center">
                        <hr>
                        <a href=""><i class="fa-solid fa-bars"></i></a>
                        <a href=""> <i class="fa-solid fa-eye"></i></a>
                        <a href=""><i class="fa-solid fa-basket-shopping"></i></a>
                    </div>
                    <hr>

                    <div class="bottom d-flex justify-content-between">

                        <div class="title">
                            <h5>Curabitur cursus dignis</h5>
                            <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                        </div>
                        <div class="price text-end">
                            <h4>259$</h4>
                            <h6>300$</h6>
                        </div>
                    </div>
                </div>

                <div class="product col-lg-2">
                    <a href=""><img src="~/assest/img/Product/11_68ab6d0f-109c-429b-a903-4cbf60257806_grande.png" alt=""></a>
                    <div class="icons text-center">
                        <hr>
                        <div class="content">
                            <i class="fa-solid fa-bars"></i>
                            <div id="one" class="button"> <i class="fa-solid fa-eye"></i></div>
                            <a href=""><i class="fa-solid fa-basket-shopping"></i></a>

                        </div>
                    </div>
                    <hr>

                    <div class="bottom d-flex justify-content-between">

                        <div class="title">
                            <h5>Curabitur cursus dignis</h5>
                            <h6><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </h6>
                        </div>
                        <div class="price text-end">
                            <h4>259$</h4>
                            <h6>300$</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>